.mapa-container {
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-color: #fdfdfd;
  overflow: hidden; /* elimina scroll */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapa-titulo {
  text-align: center;
  font-size: 28px;
  margin-bottom: 16px;
  font-family: 'Orbitron', sans-serif;
  color: #4A0D0D;
}

.mapa-imagen {
  position: relative;
  width: 95%;
  height: 732px; /* tamaño más controlado */
  max-width: 1700px;
  border-radius: 12px;
  overflow: hidden;
}

.mapa-boton {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #4A0D0D;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 13px;
  text-decoration: none;
  transition: background 0.3s;
  font-family: 'Orbitron', sans-serif;
  white-space: nowrap;
  z-index: 5;
}

.mapa-boton:hover {
  background-color: #8b1e1e;
}











  
  
  
  
  